PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=fastfoot_erp
DB_USER=root
DB_PASS=

JWT_SECRET=fastfoot_super_secret_key_2024
JWT_EXPIRES_IN=7d

SUPER_ADMIN_EMAIL=superadmin@fastfoot.uz
SUPER_ADMIN_PASSWORD=Admin@123456
